body {
  margin: 0px;
  padding: 0px;
  background-color: #ccc;
  font-family: 'Arial', sans-serif;
  font-size: 0.90em;
  color: #444;
}
div, .panewrap {
  position: relative;
  margin: 0px;
  padding: 0px;
}
.panewrap {
  display: block;
}
@media all and (orientation:landscape) {
  body {position: fixed; left: 0; top: 0; right: 0; bottom: 0;}
  .panewrap {position: static;}
  .smallerfont {font-size: 0.85em;}
}

.floatright {
  float: right;
}
.floatleft {
  float: left;
}
a, p, .descr, .canvtitle, .i, .in {
  display: inline-block;
}
a {
  color: rgb(20,40,160);
}
a:visited {
  color: inherit;
}
.i, .canvtitle {
  font-style: italic;
}
.canvtitle {font-size:117%;}
.canvtitle2 {font-size:110%;}
.canvtitle:empty, .titlesection.big:empty {display:none;}  /*2022-10 ADD*/
.indent {margin-left:1.2em; margin-right:1.2em;}
.tt {font-family: 'Courier',serif; font-size:105%;}
a.tt {text-decoration:none; font-size:105%;}
a.tt.bigger {text-decoration:none; font-size:115%;}

input {
  border: 1px solid #ddd;
  background-color: transparent;
  font-size: 105%;
}
input {font-family:'Courier',serif; font-size:110%;}
input:hover, input:focus, textarea, button, .btn {
  border: 1px solid #ccc;
  background-color: #fff;
}
input:disabled, textarea:disabled, button:disabled, .btn:disabled {  /*2022-10 EDIT*/
  border: 1px solid #ddd;  /*ccc*/
  background-color: rgba(235,235,235,0.95);  /*230*/
}
textarea {
  margin-bottom: 0.2em;
  /*font-size: 1em;*/
  /*font-family: inherit;
  font-size: inherit;*/
}
/*textarea:empty {
  display: none;
}
textarea.vis:empty {
  display: inherit;
}*/
input[type="checkbox"], input[type="radio"] {
  border: 0;
}
.inpshort {
  width: 2em;
}
.inp {
  width: 3em;
}
.inp.float {  /*2022-10 ADD*/
  width: 6em;
}
.inplong {
  width: 15em;
}
.inpplain {
  border-color: transparent;
}
.inpbox, .inpbox:hover, .inpbox:focus {
  border: 0;
  /*background-color: transparent;*/
}

.back {
  background-color: #ccc;
}
.back.cover {
  background-color: rgba(255,255,255,0.01);
}
@media all and (orientation:landscape) {
  .back {position: fixed; left: 0; top: 0; right: 0; bottom: 0;}
}

canvas, .emulatecanvas {
  display: block;
  margin: auto auto;
  width: 100%; height: auto;
  padding: 0; border: 0;
  background-color: #fff;
}
@media all and (orientation:landscape) {
  canvas, .emulatecanvas {height: 100%; width: auto;}
}

.thumbnail {
  display: inline-block;
  margin: 0; margin-right: 1em;
  height: 15em;
}

.title, .titleline {
  font-size: 120%;
  padding-bottom: 0.25em;
  /*white-space: nowrap;*/
}
.titlesection {
  font-weight: bold;
  font-size: 125%;
}
.titlesection.big {
  font-size: 150%;
}
/*.title > a {display: block;}*/
.hd3 {
  font-size: 70%;
}
.hd, .hd2 {
  font-size: 115%;
  padding-top: 2.3em;
  padding-bottom: 0.25em;
}
.hd2 {
  padding-top: 0.5em;
}
.descr, .little {
  font-size: 85%;
}
.littler {font-size: 90%;}
.bigger {font-size: 110%;}
.scrollable {
  overflow: auto;
}
.collapsible:empty {
  display: none;
}

/*.control {
  display: block;
  margin-bottom: 0.2em;
}
.control:first-child {
  min-width: 10em;
}*/

.line {white-space: nowrap;}
/*.br, .line {display: block;}*/

.menubar, .controls, .titlebar, .titlebug, .titlemenu {    /*2022-10 ADD titlebug*/ 
  display: block;
  position: absolute;
}
.controls {
  top: 0; left: 0;
}
.controls.center {
  left: auto;
}
.titlebug, .titlebar, .titlemenu, .menubar {    /*2022-10 ADD titlebug*/
  right: 0;
  text-align: right;
  background-color: transparent;
}
.titlebug, .titlebar {    /*2022-10 ADD titlebug*/ 
  bottom: 0;
  margin: /*1em*/ 0;  /*2022-10 EDIT*/ 
  padding: 0.2em;     /*2022-10 ADD*/
  background-color: rgba(204,204,204,0.65);   /*2022-10 ADD*/
  font-size: 95%;
}

.titlebug {top: 0; bottom: auto; /*color: #ddd; background-color: rgba(180,180,180,0.6);*/}   /*2022-10 ADD*/ 

.titlebug div, .titlebar div {     /*2022-10 ADD titlebug*/ 
  display: inline-block;
}
.titlebug > i > div, .titlebar > i > div {   /*2022-10 ADD titlebug*/ 
  font-size: 90%;
}
.titlebug > div, .titlebar > div {    /*2022-10 ADD titlebug*/ 
  font-size: 75%;
}
.titlemenu, .menubar {
  bottom: 5em;
  margin: 0;
}
.menubar {
  visibility: hidden;
}
.controls {
  max-height: 100%;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  background-color: transparent;
}
@media all and (orientation:landscape) {
  .controls {overflow-y: auto;}
}
.controlset {
  padding: 2.5em;
  padding-top: 3em;
  padding-bottom: 2.5em;
  background-color: rgba(245,245,245,0.95);
  text-align: left;
}

.corner {
  position: absolute; top: 0; right: 0;
}

.close {
  display: inline-block; font-size: 70%;
  padding: 1.5em; padding-right: 1.5em;
}

.menubar.toggled {visibility: visible;}
/*.menubar > .ctrlbtn {visibility: hidden;} 2022-10 REM*/

.open:after, .openfile:before {content: '\22EF' ;} /*&ctdot; 22ef*/
.close:after {content: '\2716' ;}  /*&Close; 274e 2716 2573*/
.prev:after {content: '\25C2' ;}   /*&lt; \003C  \25C2  25B5 21E6 */
.next:after {content: '\25B8' ;}   /*&gt; \003E 25b8 25B7  25B9 279E 27AD 21E8*/
.fold:after {content: '\2af6' ;}   /*22ee 25b4 2259 225A 2227  2023-03 EDIT (2af6)*/
.unfold:after {content: '\2af6' ;} /*2999(vert dots 4) 2982(dots 2) 22ee(vert dots) 25be(down arrow)*/
a, .link {text-decoration: underline; color:rgb(20,50,150);}
.app {} /**/
/*.app:before {content: '\2699  ' ;} /**/
.new:before {content: '\25B8  ' ;}   /*b8 littler*/
.fwd:after {content: '  \25B8 ' ;}   /**/
.rev:before {content: '\25C2  ' ;}   /*c2 littler*/
.stop:before {content: '\2981  ' ;}   /*2297(cirled x) 2716(big x) 2981(bold dot)*/  /*2022-10 EDIT (dot)*/
.rand:after {content: '  \21BB ' ;}   /*21bb 2682 27ff*/
.archive:before {content: '\2707  ' ;}   /*2707(tape) 1F4BE(floppy) 1F33B(sunflower)*/
.swap:after {content: '  \27F7 ' ;}   /*2194 2b80 21c4 21b6 21b7*/
.swap2:after {content: '  \2B80 ' ;}   /*2b0c 2b64*/

.nextsmall, .stats, .inlinestats, .inlinetitle, .inlinetag {
  display: inline-block;
  position: relative;
}
.stats, .inlinestats, .inlinetitle {
  border: 1px solid transparent;
  color: #0a0;
}
.inlinestats {
  font-size: 90%;
}
.nextsmall, .boxed {
  padding: 0.15em;
  padding-left: 0.4em;
  padding-right: 0.4em;
  min-width: 1.0em;
  border: 1px solid #c8c8c8;
  background-color: transparent;
  text-align: center;
}
.boxed {
  display: inline-block;
  height: 100%;
  padding: 0;
  text-align: left;
}
.nextsmall:after, .nextsmall:before {font-family: 'Lucida Sans Unicode',sans-serif; }
.nextsmall.inserted, .nextsmall.wrapped {
  height: 100%;
  padding-left: 0.7em;
  padding-right: 0.7em;
  border: 0;
  /*border-right: 1px solid #bbbbbb;*/
}
.nextsmall.wrapped {
  padding: 0;
}

.empha {font-size:106%; border:1px solid #999; padding:0.4em; background-color:#fff; font-family:'Arial',sans-serif;}
.empha {text-decoration:none; display:inline-block;}

.open, .next, .prev /*, .titlemenu > div, .menubar > div*/ {
  display: block;
  border: 1px solid #aaa;         /*2022-10 EDIT*/
  color: /*#999*/ #444;           /*2022-10 EDIT*/ 
  font-size: /*125*/ 110%;        /*2022-10 EDIT*/ 
  padding: 0em;
  padding-left: 0.2em;
  padding-right: 0.2em;
  min-width: 1.15em;
  text-align: center;
  background-color: rgba(204,204,204,0.7);   /*2022-10 ADD*/
}
.titlemenu > div, .open, .next, .prev /*.menubar > div*/ {
  /*border-right-width: 0;*/
  margin-bottom: 1.3em;
  margin-right: /*3*/ 2em;  /*2022-10 EDIT*/
}
.open:after, .next:after, .prev:after 
/*.menubar > div:after, .menubar > div:before*/ {font-family: 'Lucida Sans Unicode',sans-serif; }

/*.open {  2022-10 REM
  border-top: 0;
  border-left: 0;
}
.next {
  margin-top: 1.5em;
  border-left: 0;
}*/

/*2022-10 ADD*/
@media (hover: hover) {
  a:hover {text-decoration: underline;}
  a.empha:hover {background-color:#dfd;}
  .close:hover, .open:hover, .next:hover, .prev:hover, .nextsmall:hover, /*.menubar > div:hover,*/ a:hover, .link:hover {
    cursor: pointer;
    color: red;
  }
  .open:hover, .next:hover, .prev:hover, .nextsmall:hover /*, .titlemenu > div:hover, .menubar > div:hover*/ {
    background-color: #fff;
  }
}
.close:active, .open:active, .next:active, .prev:active, .nextsmall:active, a:active, .link:active {
  color: red;
}
.open:active, .next:active, .prev:active, .nextsmall:active {
  background-color: #fff;
}
.open, .next, .prev, .nextsmall, input, a {
  transition: background-color 0.75s, color 0.75s, opacity 0.75s; /*2023-03 ADD opac*/
}
.close {
  transition: color 0.75s;
}
/*2022-10 ADD END*/

.nextsmall:disabled {
  visibility: hidden;
}

.fold, .running, .open, .openfile {font-weight: bold;}  /*2022-10 ADD, 2023-03 EDIt (fold)*/

.toggled {visibility: visible;}
.nottoggled {visibility: hidden;}
.toggledifsmallscreen {display: none;}
.nottoggledifsmallscreen {display: block;}
.dispnone {display: none;}
.gapminabove {margin-top: /*0.5em;*/ 0.2em;}  /*2022-10 EDIT*/
.gapmedabove {margin-top: 0.5em;}
.gap, .gapnormabove {margin-top: 1.2em;}
.gapleft {margin-left: 1em;}
.gapright {margin-right: 1.5em;}
.gapleft.g10 {margin-left: 1em;}
.gapright.g10 {margin-right: 1em;}
.gapabove {margin-top: 1.5em;}
.gapmed, .gapmedbelow {margin-bottom: 0.5em;}
.descr.gap, .gapbelow {margin-bottom: 1.5em;}
.gapbelow.g25 {margin-bottom: 2.5em;}
.gapabove.g25 {margin-top: 2.5em;}
.gapabove.g35 {margin-top: 3.5em;}
.gapabove.g30 {margin-top: 3em;}
.gapabove.g07 {margin-top: 0.8em;}
.gapabove.g10 {margin-top: 1.2em;}
.gapabove.g15 {margin-top: 1.5em;}
.gapabove.g05 {margin-top: 0.2em;}
.gapabove.min {margin-top: 0.2em;}
.bold { font-weight: bold;}
.center { text-align: center; width: 100%;}

.json, .list {height: 15em; width: 28em; /*100%*/; color: #555; font-family: 'Courier',serif;}   /*2022-10 EDIT*/
.json {width: 30em;}   /*2022-10 ADD*/
.json.long, .list.long {height: /*25*/ 20em;}  /*2022-10 EDIT*/

/* @media all and (max-width:900px) { 2022-11 REM */
  .controls {font-size: 90%;}
  /*.hideifsmallscreen {display: none;}
  .title {white-space: normal; font-size: 115%;}
  .thumbnail {display: none; height: auto; width: 100%;}
  .json, .list {min-width: 0;}
  input {margin-bottom:0.1em;}*/
/*}*/
@media all and (orientation:portrait) and (min-width:901px) { /* 2022-11 ADD */
  .controls {font-size: 100%;}
}
/*2022-10 EDIT*/ .thumb {display:block; max-width: /*280px*/ 100%; width: /*280*/ 200px;}
.thumb.hires {display: none;}
.thumbcap {display:block; font-size: 75%;}
.thumbbox {display:block;}
/*2022-10 ADD titlebug*/ .titlebug > div, .titlebar > div, .titlebug > i > div, .titlebar > i > div {display: block;}
/*@media all and (max-width:400px) {
  .controls {font-size: 90%;}
  .stats {display: block;}
}*/
@media all and (orientation:landscape) {
  .json {min-width: 25em;}
  .json, .list {font-size: 0.8em;}
  .maxwid {width: 25em;}
  /*2022-10 EDIT*/ .pwid {max-width: 37em; /*30em */ }
  /*2022-10 EDIT*/ .essaywid {max-width: 30em; }
  /*2022-10 EDIT*/ .essay {width: /*25*/ 24em; font-size:/*100*/ 95%; line-height:125%;}
  /*2022-10 ADD*/ .titlebug {bottom:0; top:auto;}
}
@media all and (min-width:1800px) and (orientation:landscape) {
  /*2022-10 REM .controls {font-size: 120%;} */
  /*2022-10 EDIT*/ .thumb {width: 352px; max-width: /*352px*/ 100%;}
  .thumb.lores {display: none;}
  .thumb.hires {display: block;}
  .pwid, .essaywid {max-width: 45em;}
}
@media all and (orientation:portrait) {
  /*2022-10 EDIT*/ body {font-size: /*5vw*/ 1.1em;}
  .panewrap {width: 100%;}
  /* 2022-12 REM canvas, .emulatecanvas {height: auto; width: 100%;}*/
  .controls {border: 0; width:100%;}
  .controls.center {border: 0; width:100%;}
  .controlset {padding: 1.25em; padding-top: 2.5em; padding-bottom: 1.5em; font-size: 90%;}
  .line {white-space: inherit;}
  /*2022-10 EDIT*/ .thumb {max-width: /*352px*/ 100%; width: /*352*/ 200px;}
  .thumb.lores {display: none;}
  .thumb.hires {display: block;}
  .gapbelow.g25 {margin-bottom: 2em;}
  .gapabove.g25 {margin-top: 2em;}
  .gapabove.g35 {margin-top: 3.5em;}
  .gapabove.g30 {margin-top: 3em;}
  .menubar, .titlemenu {top: auto; left: auto; bottom: 0; width: 100%; padding-bottom: 2em; text-align: center;}
  /*2022-10 ADD*/ .menubar {padding-bottom: 3em;}
  /*2022-10 EDIT*/ .open, .next, .prev {display: inline-block; /*border: 1px solid #999;*/ /*777*/ /*color: #444;*/ /*777*/}
  .next {margin-left: 1.5em;}
  .titlebar, .titlemenu, .menubar {left: 0; text-align: center;}
  /*2022-10 EDIT*/ .titlebar {margin-bottom: /*6em*/ 0;}
  /*2022-10 ADD*/ .titlebar.pintop {top: 0; bottom: auto;}
  /*.titlemenu > div, .menubar > div*/ 
  .open, .next, .prev {display: inline-block; margin: 0; margin-left: 0.4em; margin-right: 0.4em; border-right-width: 1px;}
  /*2022-10 ADD*/ .menubar>.togglepart {display: inline-block;}
  .title, .titlesection {white-space: normal; font-size: 120%;}
  /*2022-10 ADD*/ .title {font-size: 125%;}
  .titlesection {font-size: 130%;}
  /*.empha {background-color:#dfd;}*/
  .pwid, .essay, .inlinetitle {font-size:90%}
  a.tt {font-size:110%;}
  .canvtitle {font-size:110%;}
  input[type=checkbox], input[type=radio] 
           /*2022-10 EDIT*/ {width: /*4vw*/ 0.95em; height: /*4vw*/ 0.95em; /*transform: scale(1.2);*/}
  .toggledifsmallscreen {display: block;}
  /*2022-10 ADD*/ .toggledifsmallscreen.inline {display: inline-block;}
  .nottoggledifsmallscreen {display: none;}
  /*2022-10 EDIT*/ textarea {font-size: /*4vw*/ 0.8em;}
  /*2022-10 EDIT*/ .json {height: /*35*/ 17em;}
  /*2022-10 EDIT*/ .list {height: /*30*/ 14em;}
  /*2022-10 EDIT*/ .json.long, .list.long {height: /*50*/ 14em;}
  /*2022-10 ADD*/ .json, .list {width: 98%; max-width: 98%;}
}

/*2022-10 ADD*/

/*app framing*/
      body {position: fixed; left: 0; top: 0; right: 0; bottom: 0;}
      .panewrap {position: static;}
      .back {position: fixed; left: 0; top: 0; right: 0; bottom: 0;}
      .controls {overflow-y: auto;}
      @media all and (orientation:portrait) {
        .controls {bottom: 0; top: auto; border-top: 1px solid #ccc; max-height:60%;}
        .controls.maxheight {max-height:85%;}
        .controls.fullheight {max-height:100%;}
        .controls.pintop {bottom: auto; top: 0; border-top: 0; border-bottom: 1px solid #ccc;}
        /* 2022-12 REM
        canvas, .emulatecanvas {width: 100%;}
        canvas, .emulatecanvas {display: block; position: absolute; bottom: auto; left: 0; top: 0;}
        */
        /* 2022-12 EDIT */
        canvas.pinbottom, .emulatecanvas.pinbottom {position: absolute; bottom: 0; left: 0; top: auto;}
        canvas.pinmiddle, .emulatecanvas.pinmiddle {bottom: 0; left: 0; top: auto;}  /*2022-12 ADD*/
      }
      @media all and (orientation:landscape) {
        /* 2022-12 REM
        canvas, .emulatecanvas {height: 100%; width: auto;}
        */
        .controls.fullwidth {width:100%;}
      }

      canvas, .emulatecanvas {position: absolute;}

      /*2023-03 ADD*/
      /* responsive sizing/positioning */
      canvas, .emulatecanvas {
        margin: auto auto; left: 50%; top: 50%; transform: translate(-50%, -50%);
        width: auto; max-width: 100%; height: auto; max-height: 100%;
        transition: top 0.7s, visibility 0.7s;
      }
      @media all and (orientation:portrait) {
        canvas:not(.abscenter), .emulatecanvas:not(.abscenter) {left: 50%; top: 0; transform: translate(-50%, 0);}
        canvas.centermed, .emulatecanvas.centermed {top: 4%;}
        canvas.centershort, .emulatecanvas.centershort {top: 6%;}
        canvas.centertiny, .emulatecanvas.centertiny {top: 10%;}
      }
      @media all and (orientation:portrait) and (min-width:750px) {
        canvas.centerlong, .emulatecanvas.centerlong {top: 2%;}
      }
      /* tweaks for drivescroll size controls */
      .list.thin {margin-bottom: 0;}
      @media all and (orientation:landscape) {
        .list.thin {width: 25em;}
        .popupwid {width: 23em;}
      }
      input[type=checkbox], input[type=radio] {cursor: pointer;}
      input.dulled {opacity: 0.5;}
      input[type=checkbox].dulled, input[type=radio].dulled {opacity: 0.4;}
      input.dulled:hover, input[type=checkbox].dulled:hover, input[type=radio].dulled:hover {opacity: 1.0;}
      input.dulled:focus, input[type=checkbox].dulled:focus, input[type=radio].dulled:focus {opacity: 1.0;}
      /*END 2023-03 ADD*/

      @media all and (max-width:500px) and (orientation:portrait) {
        body {font-size: 1.0em;}
       .list {height: 10em;}
      }

/*wait box*/
.wait {
  position: fixed; left: 0; top: 0; right: 0; bottom: 0;
  background-color: rgba(80,80,80,0.6);
  font-size: 120%;
  text-align: center;
  padding-top: 6em;
  color: rgba(250,250,250,0.95);
  display: none;
}
@keyframes blink {
  10% {color: rgb(255,80,80);}
  25% {color: white;}
  40% {color: rgb(255,80,80);}
  55% {color: white;}
}
.waitmsg {
  padding-left: 1.0em;
  padding-right: 1.0em;
  font-size: 120%;
  color: white;
  animation-name: blink;
  animation-delay: 0.1s;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

/*transitions*/
.slider {
  max-height: 50em;
  overflow: hidden;
}
.slider.em10, .slider.shorthgt {max-height: 10em;}
.slider.em20, .slider.shortmedhgt {max-height: 20em;}
.slider.em30, .slider.medhgt {max-height: 30em;}
.slider.em40, .slider.highmedhgt {max-height: 40em;}
.slider.opened {
  transition: max-height 2s ease;
}
.slider.closed {
  max-height: 0;
  transition: max-height 1.5s ease-out;
}
.controls, .menubar, .menubar>.togglepart, .titlebug {
  opacity: 1.0;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.controls.visible, .menubar.visible, .menubar>.togglepart.visible, .titlebug.visible {
}
.controls.hidden, .menubar.hidden, .menubar>.togglepart.hidden, .titlebug.hidden {
  opacity: 0.0;
  visibility: hidden;
}
/*END 2022-10 ADD*/


/*@media all and (max-width:800px) {
  .menubar {top: auto; left: auto; bottom: 0; width: 100%; padding-bottom: 2em; text-align: center;}
  .open, .next {display: inline-block; border: 1px solid #777;}
  .next {margin-left: 1.5em;}
  .titlebar, .titlemenu, .menubar {left: 0; text-align: center;}
  .titlemenu > div, .menubar > div {display: inline-block; margin: 0; margin-left: 0.4em; margin-right: 0.4em; border-right-width: 1px;}
}*/
@media print {
  .panewrap, .menubar, .titlebar, .titlebug, .titlemenu {display: none;}  /*2022-10 EDIT add titlebug*/

  /*2023-03 ADD*/
      canvas, .emulatecanvas {margin: auto auto; left: 50%; top: 50%; transform: translate(-50%, -50%);}
     .titlebar /*, .titlebug*/ {display: block; font-size: 65%;}
  /*2023-03 END ADD*/

}

